@model Category

@{
    ViewData["Title"] = "Details";
}

<flash dismissable="true"/>

<h1>Details</h1>

<div class="mb-3">
    <partial name="_CategoryDetails" />
</div>

<div>
     <a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Go back</a>
</div>