@{
    ViewData["Title"] = "Access Denied";
}

<br />
<br />

<div class="row">
    <div class="col-md-4 offset-4">
        <img src="~/img/accesdenied.png" style="width: 500px; height: 350px" />
        <h2>You are not authorized for this operation.</h2>
    </div>
</div>




