
@{
    ViewData["Title"] = "Error404";
}

<br />
<br />
<div class="row">
    <div class="col-md-4 offset-4" >
        <img src="~/img/pagenotfound.png" style="width: 500px; height: 350px"/>
    </div>
</div>



