@{
    ViewData["Title"] = "Order Success";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <img src="~/img/Shopping.png" style="width:400px;"/>
        <h2>¡Thank you!</h2>
        <h4>Your order has been registered in our system, our team will work to process your order.</h4>
        <a asp-action="Index" class="mt-2 btn btn-outline-success">Home</a>
    </div>
</div>
