@model Country

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="mb-3">
    <partial name="_CountryDetails" />
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
</div>
