@model Country

@{
    ViewData["Title"] = "Edit";
}

<flash dismissable="true"/>

<h1>Edit</h1>

<h4>Country</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="States" />
            
            <partial name="_Country" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Go back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
